<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Unicons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <!-- Materialize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Twitcher</title>
  </head>
  <body>
    <!-- Navigation -->

    <header>
      <nav class="navbar-fixed">
        <div class="nav-wrapper">
          <a href="#" class="nav-brand-new">
            <i class="fa-solid fa-feather-pointed header_a_tag_display"></i>
            <h5 class="header_a_tag_display">Twitcher</h5>
          </a>
          <ul class="right nav__list nav-menu-list">
            <li class="nav__item">
              <a href="/" class="nav__link">
                Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">
                About
              </a>
            </li>
            <li class="nav__item">
              <a href="#events" class="nav__link">
                Events
              </a>
            </li>
            <li class="nav__item">
              <a href="#resources" class="nav__link">
                Resources
              </a>
            </li>
            <li class="nav__item">
              <a href="/blog" class="nav__link">
                Blog
              </a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">
                Contact Us
              </a>
            </li>

            <li>
              {{#if loggedIn}}

                <button class="login__button btn"><a
                    href="/"
                    id="logout-link"
                  >Log Out</a></button>

              {{else}}

                <button class="login__button btn"><a href="/login">Log In</a></button>

              {{/if}}
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <hero class="hero">
      <div class="hero__div">
        <h1 class="hero__text">
          The Triangle's home for birdwatchers and bird lovers
        </h1>
      </div>
    </hero>
    {{{body}}}

    <!-- Footer -->
    <footer class="footer row">
      <div class="footer__container col s12">
        <div class="footer__row">
          <div class="footer-col">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#events">Events</a></li>
              <li><a href="#resources">Sources</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact Us</h4>
            <ul>
              <li><a href="#contact">Connect</a></li>
              {{#unless loggedIn}}
                <li><a href="/login">Log In</a></li>
              {{/unless}}
            </ul>
          </div>
          <div class="footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/" target="_blank"><i
                  class="uil uil-facebook-f social__icon"
                ></i></a>
              <a href="https://twitter.com/?lang=en" target="_blank"><i
                  class="uil uil-twitter social__icon"
                ></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i
                  class="uil uil-instagram social__icon"
                ></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="contact" class="col">
        <div class="card-panel info__container">
          <h4>Contact Info</h4>
          <div class="info__box">
            <div>
              <span><i class="uil uil-map-marker"></i></span>
              <p>Raleigh, North Carolina</p>
            </div>
            <div>
              <span><i class="uil uil-envelope"></i></span>
              <a href="mailto:fakeemail@fake.com">tweetybird@gmail.com</a>
            </div>
            <div>
              <span><i class="uil uil-phone"></i></span>
              <a href="tel:5555555555">555 555 5555</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Materialize -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
    ></script>
    <!-- JS -->
    <script src="/js/script.js"></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>