<!-- Hero/Home -->
<section class="home" id="home">
    <div class="home__text">
        <h1>Bird Watchers <br /> of the Triangle</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil officia ratione, impedit dolore ipsam asperiores iste vel maxime porro quas voluptates reiciendis. Vitae minus culpa atque! Nobis ab voluptate tempora.</p>

        <button class="scroll__down">
            Explore <i class="far fa-arrow-down"></i>
        </button>
    </div>

    <div class="home__img">
        <img src="/" alt="">
    </div>
</section>

<!-- About -->
<section class="about__container">
    <h2>Read About Us Below</h2>

    <div class="about__nav">
        <div class="about__box">
            <div class="about__img">
                <img src="/" alt="">
            </div>
            <h3>About</h3>
            <p class="about">We are the bird watchers of the triangle</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            <a href="#">Learn More
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>

        <div class="about__box">
            <div class="about__img">
                <img src="/" alt="">
            </div>
            <h3>Events</h3>
            <p class="about">Join us on our bird watching adventures</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            <a href="#">Learn More
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        
        <div class="about__box">
            <div class="about__img">
                <img src="/" alt="">
            </div>
            <h3>Resources</h3>
            <p class="about">Learn more about birds with us down below</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            <a href="#">Learn More
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>

<!-- Events -->
<section class="event__container" id="events">
    <div class="leftbox">
        <div class="event__content">
            <h2>Events</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 
                ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>

    <div class="events">
        <ul>
            <li>
                <div class="event__date">
                    <h4>May<br /><span>18</span></h4>
                </div>
                <div class="event__details">
                    <h3>Bird Watch</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 
                        ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#">Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="event__date">
                    <h4>May<br /><span>18</span></h4>
                </div>
                <div class="event__details">
                    <h3>Bird Watch</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 
                        ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#">Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="event__date">
                    <h4>May<br /><span>18</span></h4>
                </div>
                <div class="event__details">
                    <h3>Bird Watch</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 
                        ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#">Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div style="clear: both;"></div>
            </li>
        </ul>
    </div>
</section>

<!-- Resources -->
<section class="resource__container" id="resources">
    <div class="resource__row">
        <h2>Resources</h2>
    </div>
    <div class="resource__row">
        <div class="resource__column">
            <div class="resource__card">
                <div class="resource__icon">
                    <i class="far fa-file-word"></i>
                </div>
                <h3>Species</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                    consequatur necessitatibus eaque.
                </p>
            </div>
        </div>

        <div class="resource__column">
            <div class="resource__card">
                <div class="resource__icon">
                    <i class="far fa-tshirt"></i>
                </div>
                <h3>Termonology</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                    consequatur necessitatibus eaque.
                </p>
            </div>
        </div>

        <div class="resource__column">
            <div class="resource__card">
                <div class="resource__icon">
                    <i class="far fa-map-marked"></i>
                </div>
                <h3>Locations</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                    consequatur necessitatibus eaque.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Login/Signup -->
<section>
    <div class="login-signup">
        <button class="log__button">
            Log In <i class="fa-solid fa-cabin"></i>
        </button>
        <button class="sign__button">
            Sign Up <i class="fa-solid fa-sign-hanging"></i> 
        </button>
    </div>
</section>

<!-- Contact -->
<section class="contact__container" id="contact">
    <div class="contact__title">
        <h3>Contact Us</h3>
    </div>

    <div class="contact__box">
        <!-- Form -->
        <div class="contact form">
            <h4>Send a message</h4>
        </div>

        <div class="contact info">
            <form>
                <div class="form__box">
                    <div class="row50">
                        <div class="input__box">
                            <span>First Name</span>
                            <input type="text" placeholder="Big">
                        </div>
                        <div class="input__box">
                            <span>Last Name</span>
                            <input type="text" placeholder="Bird">
                        </div>
                    </div>

                    <div class="row50">
                        <div class="input__box">
                            <span>Email Address</span>
                            <input type="text" placeholder="bigbird@gmail.com">
                        </div>
                        <div class="input__box">
                            <span>Phone Number</span>
                            <input type="text" placeholder="555 555 5555">
                        </div>
                    </div>

                    <div class="row100">
                        <div class="input__box">
                            <span>Message</span>
                            <textarea placeholder="Write your message here..."></textarea>
                        </div>
                    </div>

                    <div class="row100">
                        <div class="input__box">
                            <input type="submit" value="Send"></input>
                        </div>
                    </div>
                </div>
            </form>
        </div>