<div class="row">
  <h2 class="signup-login__heading">Member Log In</h2>
  <form class="col s12" id="login-form">
    <div class="row">
      <div class="input-field col s12">
        <input id="username-input-login" type="text" />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password-input-login" type="password" />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit">Submit
      </button>
    </div>
  </form>
</div>

<div class="row">
  <h2 class="signup-login__heading">Not a Member? Join Now!</h2>
  <form class="col s12" id="signup-form">
    <div class="row">
      <div class="input-field col s12">
        <input id="username-input-signup" type="text" />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email-input-signup" type="email" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password-input-signup" type="password" />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit">Submit
      </button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>