<section>
  <h1 class="blog-title">Create New Post</h1>
  <div class="row post">
    <div class="col s12 m9 l6 post-container">
      <div class="card post-card">
        <div class="card-content white-text">
          <form class="new-post-form" id="new-post-form">
            <div>
              <label for="post-title">Title:</label>
              <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
              <label for="post-birds">Birds spotted: </label>
              <input type="text" id="post-birds" name="post-birds" />
            </div>
            <div class="comment-textarea">
              <label for="post-body">Body:</label>
              <textarea type="text" id="post-body" name="post-body"></textarea>
            </div>

            <button type="submit" class="btn">Create</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/new.js"></script>