@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /* Typography */
  --ff-primary: 'Bebas Neue', cursive;
  --ff-secondary: 'Yanone Kaffeesatz', sans-serif;

  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --reg-font-size: 16px;

  --font-bold: 700;
  --font-medium: 500;

<<<<<<< HEAD
  --clr-bg: #ebd7c5;
  --clr-box: #0c4f4e;
  --clr-hover: #9d442a;
  --clr-title: ;
  --clr-reg: ;
  --clr-gold: #bc804d;
  --clr-light-green: #cae0d1;
=======
  /* Colors */
  --clr-bisque: #d7c2b0;
  --clr-dark-teal: #0c4f4e;
  --clr-copper: #9d442a;
  --clr-dusty-gold: #bc804d;
  --clr-grove-green: #9eb5a3;

  /* Margin bottom */
  --mb-1: 16px;
  --mb-2: 32px;
  --mb-3: 48px;
>>>>>>> feature/css-edit
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bisque);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

<<<<<<< HEAD
/* Navigation */
nav {
  background-color: var(--clr-box);
  /* height: 80px !important; */
=======
main {
  flex: 1 0 auto;
}

/* Buttons */
.btn{
  background-color: var(--clr-dark-teal);
  color: #fff;
}

.btn:hover {
  background-color: var(--clr-copper);
>>>>>>> feature/css-edit
}


/* Navigation */
nav {
  background-color: var(--clr-dark-teal);
}

nav .brand-logo {
  padding: 20px;
}

/* Hero */
.hero {
  background-image: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: 25% 65%;
  min-height: 50vh;
  justify-content: center;
}

.hero__div {
  margin-top: 90px;
}

.hero__text {
  color: var(--clr-bisque);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-family: var(--ff-primary);
  text-align: center;
}

/* Home section */


/* Team section */
.about__container {
  margin-top: 10%;
}

.about__container h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 60px;
  text-align: center;
  font-family: var(--ff-primary);
  color: var(--clr-dark-teal);
}

.about__nav {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.about__nav .about__box {
  background: var(--clr-dark-teal);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: var(--clr-grove-green);
  position: relative;
}

.about__nav .about__box h3 {
  color: var(--clr-dusty-gold);
  font-size: var(--h3-font-size);
  font-family: var(--ff-primary);
  margin-top: 50px;
}

.about__nav .about__box p.about {
  color: #ccc;
  margin: 12px 0;
  font-size: var(--reg-font-size);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}

.about__nav .about__box .about__img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.about__nav .about__box .about__img img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

/* Hero */
.hero {
  background-image: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: 25% 65%;
  min-height: 50vh;
  justify-content: center;
}

.hero__div {
  margin-top: 90px;
}

.hero__text {
  color: var(--clr-bg);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Event section */
.event__container {
  width: 100%;
  height: 120vh;
  background: url(../images/nighthawk-shoots-S8onLkFuZHY-unsplash.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  margin-bottom: var(--mb-3);
}

.event__container .leftbox {
  width: 50%;
  height: 100%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}

.event__container .leftbox .event__content {
  color: var(--clr-dark-teal);
  background: var(--clr-dark-teal);
  background: transparent;
  border: 3px solid var(--clr-dark-teal);
  padding: 40px;  
  transition: 0.5s;
}

.event__container .leftbox .event__content:hover {
  background: var(--clr-dark-teal);
  color: #fff;
}

.event__container .leftbox .event__content h2 {
  font-size: var(--h2-font-size);
  font-family: var(--ff-primary);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.event__container .leftbox .event__content .event__p {
  margin: 10px 0 0;
  padding: 0;
}

.event__container .events {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  box-sizing: border-box;
}

.event__container .events ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 35px;
  box-sizing: border-box;
}

.event__container .events ul li {
  background: #fff;
  box-sizing: border-box;
  height: 230px;
  margin: 15px 0;
}

.event__container .events ul li .event__date {
  position: relative;
  padding: 20px;
  background: var(--clr-dark-teal);
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transform: 0.5s;
}

.event__container .events ul li:hover .event__date {
  background: var(--clr-copper);
}

.event__container .events ul li .event__date h4 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: var(--h4-font-size);
  line-height: 30px;
}

.event__container .events ul li .event__date h4 span {
  font-size: var(--h4-font-size);
}

.event__container .events ul li .event__details {
  padding: 20px;
  background: #fff;
  font-family: var(--ff-secondary);
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

.event__container .events ul li .event__details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: var(--h3-font-size);
}
.event__container .events ul li .event__details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: var(--reg-font-size);
}

.event__container .events ul li .event__details a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--clr-dark-teal);
  margin-top: 15px;
  font-size: 18px;
  transition: 0.5s;
}

.event__container .events ul li .event__details a:hover {
  background: var(--clr-copper);
  color: #fff;
  border-color: var(--clr-copper);
}

/* Resource section */
.resource__container {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 40px;
}

.resource__row {
  display: flex;
  flex-wrap: wrap;
}

.resource__row h2 {
  font-family: var(--ff-primary);
  font-size: var(--h2-font-size);
  color: var(--clr-dark-teal);
}

.resource__column {
  width: 100%;
  padding: 0 16px 16px 16px;
  text-align: center;
}

.resource__card {
  width: 100%;
  height: 100%;
  padding: 32px 24px;
  background: linear-gradient(#ffffff 50%, var(--clr-dark-teal) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  transition: 0.5s;
}

.resource__container h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: var(--clr-dusty-gold);
  margin: 16px 0;
}

.resource__container p {
  color: #575a7b;
  font-size: var(--reg-font-size);
  line-height: 1.6;
  letter-spacing: 0.48px;
}

.resource__icon {
  background-color: var(--clr-dark-teal);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.resource__card:hover {
  background-position: 0 100%;
}

.resource__card:hover .resource__icon {
  background-color: #ffffff;
  color: #24262b;
}

.resource__card:hover h3 {
  color: #ffffff;
}

.resource__card:hover p {
  color: #f0f0f0;
}

/* Contact section */
.contact__container {
  position: relative;
  width: 100%;
  padding: 40px 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mb-2);
}

.contact__container .contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__container .contact__title h3 {
  color: var(--clr-dark-teal);
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  font-family: var(--ff-primary);
}

.contact__box {
  position: relative;
  grid-gap: 20px;
  width: 50%;
}

.contact {
  padding: 40px;
  background: var(--clr-dark-teal);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h4 {
  color: #e91e63;
  font-weight: 500;
  font-size: var(--h4-font-size);
  margin-bottom: 10px;
}

.form__box {
  position: relative;
  width: 100%;
}

.form__box .row50 {
  display: flex;
  gap: 20px;
}

.input__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.form__box .row100 .input__box {
  width: 100%;
}

.input__box span {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input__box input {
  padding: 10px;
  font-size: 17.6px;
  outline: none;
  border: 1px solid var(--clr-grove-green);
}

.input__box textarea {
  padding: 10px;
  font-size: 17.6px;
  outline: none;
  border: 1px solid var(--clr-grove-green);
  resize: none;
  min-height: 220px;
}

.input__box input[type="submit"] {
  background: var(--clr-grove-green);
  color: #fff;
  border: none;
  font-size: 17.6px;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
}

.input__box ::placeholder {
  color: #686464;
}

/* info box section */
#contact,
.info__container {
  margin: 0;
}

#contact {
  display: flex;
  padding: 0;
}

.info__container {
  background: var(--clr-copper);
  justify-content: center;
}

.info__container:hover {
  background: var(--clr-dark-teal);
}

.info__container h4 {
  color: #fff;
}

.info__container .info__box div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info__container .info__box div span {
  min-width: 40px;
  height: 40px;
  color: var(--clr-grove-green);
  background: var(--clr-dark-teal);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17.6px;
  border-radius: 50%;
  margin-right: 15px;
}

.info__container .info__box div p {
  color: var(--clr-grove-green);
}

.info__container .info__box div a {
  color: var(--clr-grove-green);
  font-size: 17.6px;
}

.socials {
  margin-top: 40px;
  display: flex;
}

.socials li {
  margin-right: 15px;
}

.socials li a {
  color: #fff;
  font-size: 32px;
  color: #e2d7d7;
}

.socials li a:hover {
  color: #fff;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
}

/* Download app section */
.app__img {
  width: 48px;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.app__wrapper {
  background: #24262b;
  color: #e1e1e1 !important;
  height: 48px;
  margin-bottom: 30px;
  padding: 32px 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.app__content {
  display: flex;
  justify-content: flex-start;
  margin-left: 18px;
  flex-direction: column;
  width: 140px;
}

/* Log-in/Sign-up section */
.sticky__login {
  background-color: rgba(12, 79, 78, .5);
  backdrop-filter: blur(10px);
  position: fixed;
  overflow: hidden;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.close__login {
  position: absolute;
  right: 20.8px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.close__login:hover {
  border: none;
  background-color: transparent;
}

.login__container {
  display: flex;
}

.login__logo {
  font-size: 32px;
  color: #fff;
  margin-right: 20px;
}

.login__text {
  color: #fff;
  width: 100%;
  text-align: left;
}

/* Footer */
.footer__container {
  width: 100%;
  margin: auto;
  line-height: 1.5;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: var(--clr-dark-teal);
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: var(--h4-font-size);
  font-family: var(--ff-primary);
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--clr-copper);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--clr-grove-green);
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--clr-copper);
  background-color: #ffffff;
}

/* Signup/login page */
.signup-login__heading {
  color: var(--clr-copper);
}

/* all-posts page */

#all-posts {
  align-items: center;
}

#blog-title {
  color: var(--clr-dusty-gold);
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  justify-content: center;
}

.post-container {
  margin: auto;
}

.post-card {
  background-color: var(--clr-copper);
}

<<<<<<< HEAD
.card-title {
  font-weight: bold !important;
}

.bird-list {
  display: flex;
  flex-wrap: wrap;
}

.bird-list li {
  padding: 0 10px;
  color: var(--clr-light-green);
}

.post-author {
  font-style: italic;
  font-size: larger;
}

.card-content p {
  color: var(--clr-bg);
}

/* all-posts page end */

=======
>>>>>>> feature/css-edit
/* Media queries */

/* Small screens */
@media (max-width: 360px) {
  footer {
    flex-wrap: wrap;
  }

  #contact {
    width: 100%;
    display: block;
  }
}

/* Medium screens */
@media (max-width: 768px) {
  .resource__container {
    padding: 0 32px;
  }
  .resource__column {
    flex: 0 50%;
    max-width: 50%;
  }

  .event__container {
    height: 100%;
    background-position: center;
  }
  .event__container .leftbox {
    width: 100%;
    height: auto;
    float: none;
    padding: 20px;
  }
  .event__container .events {
    width: 100%;
    height: auto;
    background: transparent;
    float: none;
  }
  .event__container .leftbox .event__content {
    padding: 20px;
  }
  .event__container .leftbox .event__content h2 {
    font-size: 30px;
  }
  .event__container .events ul {
    position: relative;
    transform: translateY(0px);
    padding: 0 20px 20px;
  }
  .event__container .events ul li {
    height: auto;
    background: rgba(255, 255, 255, 0.8);
  }
  .event__container .events ul li .event__date {
    width: 80px;
    height: 80px;
    padding: 0;
  }
  .event__container .events ul li .event__date h4 {
    font-size: 30px;
    line-height: 24px;
  }
  .event__container .events ul li .event__date h4 span {
    font-size: 20px;
  }
  .event__container .events ul li .event__details {
    width: 100%;
    float: none;
    padding-left: 100px;
    background: transparent;
  }
  .event__container .events ul li .event__details a {
    padding: 5px 10px;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

/* Large screens */
@media (min-width: 990px) {
  .resource__container {
    padding: 12px 48px;
    margin-bottom: var(--mb-3);
  }
  .resource__column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* Larger screens */
