*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --ff-primary: ;
    --ff-seconday: ;

    --font-large: 700;
    --font-medium: 500;

    --clr-bg: #d7c2b0;
    --clr-box: #0c4f4e;
    --clr-hover: #9d442a;
    --clr-title: ;
    --clr-reg: ;

    
}

/* General styles */
body {
    background-color: var(--clr-bg);
}

/* Navigation */
nav {
    background-color: var(--clr-box);
    /* height: 80px !important; */
}

.navbar-fixed {
    height: 80px;
}

/* Home section */


/* About section */
.about__container {
    margin-top: 10%;
}
  
.about__container h2 {
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
  
.about__nav {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}
  
.about__nav .about__box {
    background: #24262b;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #e91e63;  
    position: relative;
}
  
.about__nav .about__box h3 {
    color: #fff;
    font-size: 26px;
    margin-top: 50px;
}
  
.about__nav .about__box p.about {
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}
  
.about__nav .about__box .about__img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}
  
.about__nav .about__box .about__img img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

/* Event section */
.event__container {
    width: 100%;
    height: 100vh;
    background: url();
    background-size: cover;
    margin: 0;
    padding: 0;
}

.event__container .leftbox {
    width: 50%;
    height: 100%; 
    float: left;
    padding: 50px;
    box-sizing: border-box;
}

.event__container .leftbox .event__content {
    color: #fff;
    background: rgba(0, 0, 0, .5);
    padding: 40px;
    transition: .5s;
}

.event__container .leftbox .event__content:hover {
    background: #e91e63;
}

.event__container .leftbox .event__content h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.event__container .leftbox .event__content .event__p {
    margin: 10px 0 0;
    padding: 0;
}

.event__container .events {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

.event__container .events ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}

.event__container .events ul li {
    background: #fff;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
}

.event__container .events ul li .event__date {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transform: .5s;
}

.event__container .events ul li:hover .event__date {
    background: #e91e63;
}

.event__container .events ul li .event__date h4 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    line-height: 30px;
}

.event__container .events ul li .event__date h4 span {
    font-size: 30px;
}

.event__container .events ul li .event__details {
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}

.event__container .events ul li .event__details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
.event__container .events ul li .event__details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 10px;
}

.event__container .events ul li .event__details a {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: .5s;
}

.event__container .events ul li .event__details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

/* Resource section */
.resource__container {
    width: 100%;
    display: grid;
    place-items: center;
}

.resource__row {
    display: flex;
    flex-wrap: wrap;
}

.resource__column {
    width: 100%;
    padding: 0 16px 16px 16px;
    text-align: center;
}

.resource__card {
    width: 100%;
    height: 100%;
    padding: 32px 24px;
    background: linear-gradient(#ffffff 50%, #24262b 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
}

.resource__container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 16px 0;
}

.resource__container p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.48px;
}

.resource__icon {
    background-color: #24262b;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.resource__card:hover {
    background-position: 0 100%;
}

.resource__card:hover .resource__icon {
    background-color: #ffffff;
    color: #24262b;
}

.resource__card:hover h3 {
    color: #ffffff;
}

.resource__card:hover p {
    color: #f0f0f0;
}

/* Blog section */
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog__heading h3 {
    font-size: 38.4px;
    color: #2b2b2b;
    font-weight: 600;
}

.blog__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog__box {
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px; 
}

.blog__img {
    width: 100%;
    height: auto;
}

.blog__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog__text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog__text span {
    color: #f33c3c;
    font-size: 14.4px;
}

.blog__text .blog__title {
    font-size: 20.8px;
    font-weight: 500;
    color: #272727;
}

.blog__text .blog__title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog__text p {
    color: #9b9b9b;
    font-size: 14.4px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog__text a {
    color: #0f0f0f;
}

.blog__text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

/* Contact section */
.contact__container {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contact__container .contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.contact__container .contact__title h3 {
    color: #e91e63;
    font-weight: 500;
}

.contact__box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact {
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h4 {
    color: #e91e63;
    font-weight: 500;
    font-size: 22.4px;
    margin-bottom: 10px;
}

.form {
    grid-area: form;

}
.info {
    grid-area: form;
    
}
.map {
    grid-area: form;
    
}

.form__box {
    position: relative;
    width: 100%;
}

.form__box .row50 {
    display: flex;
    gap: 20px;
}

.input__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.form__box .row100 .input__box {
    width: 100%;
}

.input__box span {
    color: #e91e63;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input__box input {
    padding: 10px;
    font-size: 17.6px;
    outline: none;
    border: 1px solid #e91e63;
}

.input__box textarea {
    padding: 10px;
    font-size: 17.6px;
    outline: none;
    border: 1px solid #e91e63;
    resize: none;
    min-height: 220px;
}

.input__box input[type="submit"] {
    background: #e91e63;
    color: #fff;
    border: none;
    font-size: 17.6px;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
}

.input__box ::placeholder {
    color: #686464;
}

.info__container {
    background: #e91e63;
}

.info__container h4 {
    color: #fff;
}

.info__container .info__box div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info__container .info__box div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #24262b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17.6px;
    border-radius: 50%;
    margin-right: 15px;
}

.info__container .info__box div p {
    color: #fff;
}

.info__container .info__box div a {
    color: #fff;
    font-size: 17.6px;
}

.socials {
    margin-top: 40px;
    display: flex;
}

.socials li {
    margin-right: 15px;
}

.socials li a {
    color: #fff;
    font-size: 32px;
    color: #e2d7d7;
}

.socials li a:hover {
    color: #686464;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
}

/* Download app section */
.app__img {
    width: 48px;
    display: flex;
    align-items: center;
}
  
img {
    width: 100%;
}
  
.app__wrapper {
    background: #262626;
    color: #E1E1E1 !important;
    height: 48px;
    margin-bottom: 30px;
    padding: 32px 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.app__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
  
.app__content {
    display: flex;
    justify-content: flex-start;
    margin-left: 18px;
    flex-direction: column;
    width: 140px;
}

/* Footer */
.footer__container{
	max-width: 1170px;
	margin:auto;
	line-height: 1.5;
}

.footer__row{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #262626;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* Media queries */

/* Small screens */

/* Medium screens */
@media (max-width: 768px) {
    .resource__container {
        padding: 0 32px;
    }
    .resource__column {
        flex: 0 50%;
        max-width: 50%;
    }

    .event__container {
        height: 100%;
        background-position: center;
    }
    .event__container .leftbox {
        width: 100%;
        height: auto;
        float: none;
        padding: 20px;
    }
    .event__container .events {
        width: 100%;
        height: auto;
        background: transparent;
        float: none;
    }
    .event__container .leftbox .event__content {
        padding: 20px;
    }
    .event__container .leftbox .event__content h2 {
         font-size: 30px; 
    }
    .event__container .events ul {
        position: relative;
        transform: translateY(0px);
        padding: 0 20px 20px;
    }
    .event__container .events ul li {
        height: auto;
        background: rgba(255, 255, 255, .8);
    }
    .event__container .events ul li .event__date {
        width: 80px;
        height: 80px;
        padding: 0;
    }
    .event__container .events ul li .event__date h4 {
        font-size: 30px;
        line-height: 24px;
    }
    .event__container .events ul li .event__date h4 span {
        font-size: 20px;
    }
    .event__container .events ul li .event__details {
        width: 100%;
        float: none;
        padding-left: 100px;
        background: transparent;
    }
    .event__container .events ul li .event__details a {
        padding: 5px 10px;
    }

    .blog {
        padding: 20px;
    }
    .blog__box {
        margin: 20px 10px;
        width: 100%;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

/* Large screens */
@media (min-width: 990px) {
    .resource__container {
        padding: 12px 48px;
    }
    .resource__column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

/* Larger screens */